@{
	string _class = string.Concat((Vertical ? "btn-group-vertical " : "btn-group "),
						GetButtonGroupSize()).Trim();

	@if(Disabled)
	{
		AllOtherAttributes.Remove("disabled");
		AllOtherAttributes.Add("disabled", true);
	}
	else
	{
		AllOtherAttributes.Remove("disabled");
	}
}


<div class=@_class role="group" @attributes=AllOtherAttributes>
	@ChildContent
</div> 