@{
	string _class = string.Concat($"d-grid gap-{Gap.ToString()} "
								Class, (Class.Length > 0 ? " " : ""),
								GenerateWidth(),
								GenerateOffset(),
								GenerateOrder(),
								GenerateVerticalAlignment()).Trim();
	<div class="@_class">
		@ChildContent
	</div>
}