@using Microsoft.AspNetCore.Components.Forms
@typeparam TModel

@if (OnSubmitCallback.HasDelegate)
{
	<EditForm Model=@Model OnSubmit=@OnSubmitHandler>
		@if (DataAnnotationsValidator)
		{
			<DataAnnotationsValidator />
		}
		@if (ValidationSummary)
		{
			<ValidationSummary />
		}
		@ChildContent(Model)
		<div class="mt-3">
			<input type="submit" class="btn btn-primary" value="Submit" style="width: 125px;">
		</div>
	</EditForm>
}
else
{
	<EditForm Model=@Model OnInvalidSubmit=@OnInvalidSubmitHandler OnValidSubmit=@OnValidSubmitHandler>
		@if (DataAnnotationsValidator)
		{
			<DataAnnotationsValidator />
		}
		@if (ValidationSummary)
		{
			<ValidationSummary />
		}
		@ChildContent(Model)
		<div class="mt-3">
			<input type="submit" class="btn btn-primary" value="Submit" style="width: 125px;">
		</div>
	</EditForm>
}
