@using BlazorBootstrapComponents.Enums

@{
	string _class = string.Concat($"grid ", 
							Class,
							GenerateFunctions.GenerateRowVerticalAlignment(VerticalAlign)).Trim();
}
@if (RowTemplate == null)	
{
	<div class="@_class" style="@($"row-gap: {Gap};")">
	@ChildContent
</div>
}
else
{
	@RowTemplate
}

@code{
	[Parameter] public string Class { get; set; }
	[Parameter] public RowVerticalAlignmentEnum VerticalAlign { get; set; } = RowVerticalAlignmentEnum.Start;
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public RenderFragment RowTemplate { get; set; }
	[Parameter] public string Gap { get; set; } = "10px";
}