@{
	string _class = string.Concat($"card w-100 d-grid gap-{Gap.ToString()}",
						GenerateFunctions.GenerateBorderColor(BorderColor),
						GenerateFunctions.GenerateBackgroundColor(Background),
						GenerateFunctions.GenerateShadow(Shadow)).Trim();
	string _titleClass = string.Concat("fw-bold bg-transparent mb-0 ",
								GenerateFunctions.GenerateTextColor(TitleColor),
								GenerateFunctions.GenerateFontSize(TitleSize)).Trim();

}

<div class="@Class">
	@if (Title.Length > 0)
	{
		<label for=@Id class="@_titleClass">@Title</label>
	}
	<div id=@Id class="@_class ">
		<div class="card-body">
			@ChildContent
		</div>
	</div>
</div>
