@{
	string _class = string.Concat("form-label ",
								(Bold ? "fw-bold " : ""),
								GenerateFunctions.GenerateFormLabelControlSize(Size),
								GenerateFunctions.GenerateFontSize(FontSize),
								GenerateFunctions.GenerateTextColor(Color), 
								Class).Trim();
}
<label class=@_class @attributes=@AdditionalAttributes>@ChildContent</label>
