@{
    AdditionalAttributes.Remove("disabled");
    if (Disabled) { AdditionalAttributes.Add("disabled", true); }

    AdditionalAttributes.Remove("class");
    if (Class!= null) { AdditionalAttributes.Add("class", Class); }

}

<fieldset @attributes=AdditionalAttributes>
    <div id="@Id">
        @if (Title != null)
        {
            <label style="display:inline-block;" class="col-form-label" for="@Id">@Title&nbsp;</label>
        }
        @ChildContent
    </div>
</fieldset>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Class { get; set; }

    private Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();

    public string Id { get; set; } = Guid.NewGuid().ToString();
}
