@using BlazorBootstrapComponents.Enums

@{
	string _class = string.Concat($"row gy-{Gap} ", 
							Class,
							GenerateFunctions.GenerateRowVerticalAlignment(VerticalAlign)).Trim();
}
@if (RowTemplate == null)	
{
<div id="@Id" class="@_class">
	@ChildContent
</div>
}
else
{
	@RowTemplate
}

@code{
	protected override void OnInitialized()
	{
		base.OnInitialized();
		if (Id == null) Id = Guid.NewGuid().ToString();
	}
	[Parameter] public string Class { get; set; }
	[Parameter] public RowVerticalAlignmentEnum VerticalAlign { get; set; } = RowVerticalAlignmentEnum.Start;
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public RenderFragment RowTemplate { get; set; }
	[Parameter] public int Gap { get; set; } = 3;
	[Parameter] public string Id { get; set; }
}