@using BlazorBootstrapComponents.Enums

@{
	string _class = string.Concat($"row gy-{Gap} ", 
							Class + " ",
							GenerateFunctions.GenerateRowVerticalAlignment(VerticalAlign)).Trim();
}

@if (DataBsDismiss != null)
{
	if (AdditionalAttributes.ContainsKey("data-bs-dismiss") == false) AdditionalAttributes.Add("data-bs-dismiss", DataBsDismiss);
}
else
{
	if (AdditionalAttributes.ContainsKey("data-bs-dismiss")) AdditionalAttributes.Remove("data-bs-dismiss");
}

@if (DataBsDismiss != null)
{
	if (AdditionalAttributes.ContainsKey("aria-label") == false) AdditionalAttributes.Add("aria-label", AriaLabel);
}
else
{
	if (AdditionalAttributes.ContainsKey("aria-label")) AdditionalAttributes.Remove("aria-label");
}

@if (Type != null)
{
	if (AdditionalAttributes.ContainsKey("type") == false) AdditionalAttributes.Add("type", Type);
}
else
{
	if (AdditionalAttributes.ContainsKey("type")) AdditionalAttributes.Remove("type");
}

@if (RowTemplate == null)	
{
	<div id="@Id" class="@_class" @attributes=@AdditionalAttributes>
	@ChildContent
</div>
}
else
{
	@RowTemplate
}
