@using BlazorBootstrapComponents.Enums
@using Microsoft.AspNetCore.Components.Forms


@{
	string _class = string.Concat("form-control ",
							GenerateFunctions.GenerateBackgroundColor(Background),
							GenerateFunctions.GenerateFormControlSize(Size)).Trim();

	AdditionalAttributes.Remove("autocomplete");
	if (AutoComplete) { AdditionalAttributes.Add("autocomplete", "on"); }
	else { AdditionalAttributes.Add("autocomplete", "off"); }

	AdditionalAttributes.Remove("placeholder");
	if (PlaceHolder.Length > 0) { AdditionalAttributes.Add("placeholder", PlaceHolder); }

}
@if (HorizontalLayout)
{
	<div class="row">
		<BSColumnFormLabel For=@Id Bold=true Size=@Size MediaWidth=@MediaWidthLabel MediaAlignment=@MediaLabelAlignment>@Title</BSColumnFormLabel>
		<div class="@GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox)">
			<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
		</div>
	</div>
}
else
{
	@if (FloatingLabel)
	{
		<div class="form-floating">
			<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
			<BSFormLabel For=@Id>@Title</BSFormLabel>
		</div>
	}
	else
	{
		@if (Title != null)
		{
			<BSFormLabel For=@Id>@Title</BSFormLabel>
		}
		<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
	}
}